@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
$main-font: 'Montserrat', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
}

header {
  margin-top: 50px;
  .selection-container {
    padding: 10px 0;
  }
}

h4 {
  margin: 20px 0;
}

.btn {
  background-color: #d3d3d3;
  padding: 15px 30px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 13px;
  font-family: $main-font;
  letter-spacing: 1px;
}

.active {
  background-color: #5266FF;
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #507CFF;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  // width: 100%;
}

input[type="radio"] {
  display: none;
}

.salary-parameters {
  .salary {
    margin-top: 30px;
    input[name="salary"] {
      padding: 5px;
      text-align: end;
      width: 50%;
    }
  }
}

.enter_amount {
  color: #ff0000;
  display: inline;
}

.contract-type {
  padding: 20px 0;
}

.contracts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .contracts_btn {
    &:last-child {
      margin-right: 0px;
    }
  }
}

.contract_details {
  margin-top: 30px;
  // display: flex;
  // align-items: center;
  .checkbox {
    display: flex;
    align-items: center;
    font-family: $main-font;
    margin-top: 15px;
    input[type="checkbox"] {
      margin-right: 5px;
    }
    input[name="accidentIns"] {
      margin-right: 5px;
      width: 50px;
      height: 30px;
      text-align: center;
    }
  }
}

.employment_checkbox {
  display: block;
}

.mandate_checkbox,
.work_checkbox {
  display: none;
}

.mandate_contract_costs,
.work_contract_costs {
  margin-top: 20px;
  p {
    margin-bottom: 10px;
  }
  .mandate_contract_costs_label,
  .work_contract_costs_label {
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
  }
  input[name="mandate_costs"],
  input[name="work_costs"] {
    display: inline-block;
    margin-right: 5px;
  }
}

.contracts_btn {
  @extend .btn;
  margin-right: 15px;
}

.result_btn {
  @extend .btn;
  @extend .active;
}

.result {
  margin-top: 40px;
  .result-container {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;
    font-weight: bold;
    letter-spacing: 1px;
    .employee-column,
    .employer-column {
      flex: 100%;
      max-width: 100%;
      border: 1px solid #000;
      
      
    }
    
    .employee_header,
    .employer_header {
      border-bottom: 1px solid #000;
      margin: 0 0 10px 0;
      p {
        font-weight: bold;
        padding: 10px 0 10px 5px;
      }
    }

    .employee-list,
    .employer-list {
      list-style: none;
      padding-left: 5px;
      li {
        padding: 2.5px 0;
        &:first-child,
        &:last-child {
          color: #000;
        }
      }
    }
    .employee-list {
      li {
        color: #ff0000;
      }
    }
    .employer-list {
      li {
        color:  #008000;
      }
    }
  }
}

/* RESPONSIVE STYLES */

@media screen and (max-width: 767.98px) {
  .enter_amount {
    margin-top: 5px;
    display: block;
  }
  .employer-column {
    margin-top: 15px;
  }
}

@media (min-width: 768px) {
  .result {
    .result-container {
      .employee-column,
      .employer-column {
        flex: 50%;
        max-width: 50%;
      }
      .employee-column {
        border-right: none;
      }
    }
  }
}